.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0;
}

.logo-image {
    max-width: 68%;
    height: auto;
    right: 36px;
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    right: 105px;
    position: relative;
    top: 14px;
}

.nav-links li {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content li {
    padding: 10px 20px;
    font-size: medium;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

.dropdownicon1 {
    margin-left: 78px;
    bottom: 21px;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.dropdownicon2 {
    margin-left: 39px;
    bottom: 22px;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.search-cart {
    display: flex;
    align-items: center;
}

.search-box {
    padding: 7px 25px;
    border: 2px solid #ddd;
    border-radius: 20px;
}

.icon {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

.search_icon {
    position: absolute;
    margin-left: 9px;
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
    }

    .logo-image {
        max-width: 60%;
        margin-bottom: 10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: left;
        padding: 8px 10px;
    }

    .search-cart {
        margin-top: 10px;
    }

    .search-box {
        width: 100%;
    }

    .hamburger {
        display: block;
        /* Show hamburger on mobile */
        font-size: 30px;
        cursor: pointer;
    }
}

/* Extra small screens */
@media (max-width: 480px) {
    .navbar {
        padding: 10px 15px;
    }

    .logo-image {
        max-width: 50%;
    }

    .search-box {
        padding: 5px 15px;
    }

    .icon {
        font-size: 16px;
    }
}