.top_discount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: small;
    background-color: #f5faff;
    text-align: center;
}

.banner-img {
    width: 100%;
    height: auto;
}

.slider-img {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(230, 240, 242);
    padding: 15px;
}

.feature-item {
    text-align: center;
    flex: 0 1 20%;
}

.feature-item img {
    height: 45px;
    margin-bottom: -38px;
    left: 48px;
    position: relative;
}

.feature-item p {
    font-size: 10px;
    margin: 0;
}

.feature-item strong {
    font-size: 12px;
}


.slider {
    position: relative;
    width: 100%;
    height: 528px;
    overflow: hidden;
}

.live_sale {
    margin-top: 15px;
    font-size: x-large;
    margin-left: 30px;
    position: relative;
}

.saleImage {
    border-radius: 10px;
    width: 97%;
    height: auto;
    margin-left: 17px;
}

.categories-container {
    text-align: center;
    margin: 20px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    justify-items: center;
}

.category {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category img,
.category1 img,
.category2 img,
.category3 img,
.category4 img,
.category5 img,
.category6 img,
.category7 img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
    background: #f9f9f9;
    padding: 10px;
}

.category1 img {
    margin-left: 27px;
}

.category2 img {
    margin-left: 10px;
}

.category3 img {
    margin-left: 18px;
}

.category4 img {
    margin-left: 25px;
}

.category5 img {
    margin-left: 25px;
}

.category6 img {
    margin-left: 16px;
}

.category7 img {
    margin-left: 25px;
}


.category p,
.category1 p,
.category2 p,
.category3 p,
.category4 p,
.category5 p,
.category6 p,
.category7 p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .category img {
        width: 60px;
        height: 60px;
    }

    .category p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .categories {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}